// BOTONOS NORMALES
.btn-rosaINE-auto{
    @include btn($CRosaIne,$CBlanco,$CBlanco,$CRosaIne);
    width: $Sauto;
}
.btn-rosaINE-xs{
    @include btn($CRosaIne,$CBlanco,$CBlanco,$CRosaIne);
    width: $Sxs;
}
.btn-rosaINE-sm{
    @include btn($CRosaIne,$CBlanco,$CBlanco,$CRosaIne);
    width: $Ssm;
}
.btn-rosaINE-md{
    @include btn($CRosaIne,$CBlanco,$CBlanco,$CRosaIne);
    width: $Smd;
}
.btn-rosaINE-lg{
    @include btn($CRosaIne,$CBlanco,$CBlanco,$CRosaIne);
    width: $Slg
}
.btn-rosaINE-xl{
    @include btn($CRosaIne,$CBlanco,$CBlanco,$CRosaIne);
    width: $Sxl
}


.btn-morado-auto{
    @include btn($CMorado,$CBlanco,$CBlanco,$CMorado);
    width: $Sauto;
}
.btn-morado-xs{
    @include btn($CMorado,$CBlanco,$CBlanco,$CMorado);
    width: $Sxs;
}
.btn-morado-sm{
    @include btn($CMorado,$CBlanco,$CBlanco,$CMorado);
    width: $Ssm;
}
.btn-morado-md{
    @include btn($CMorado,$CBlanco,$CBlanco,$CMorado);
    width: $Smd;
}
.btn-morado-lg{
    @include btn($CMorado,$CBlanco,$CBlanco,$CMorado);
    width: $Slg
}
.btn-morado-xl{
    @include btn($CMorado,$CBlanco,$CBlanco,$CMorado);
    width: $Sxl
}

// BOTONES INVERTIDOS
.btn-moradoC-invert-auto{
    @include btn_invert($CMoradoC,$CMoradoC);
    width: $Sauto;
}
.btn-moradoC-invert-xs{
    @include btn_invert($CMoradoC,$CMoradoC);
    width: $Sxs;
}
.btn-moradoC-invert-sm{
    @include btn_invert($CMoradoC,$CMoradoC);
    width: $Ssm;
}
.btn-moradoC-invert-md{
    @include btn_invert($CMoradoC,$CMoradoC);
    width: $Smd;
}
.btn-moradoC-invert-lg{
    @include btn_invert($CMoradoC,$CMoradoC);
    width: $Slg;
}
.btn-moradoC-invert-xl{
    @include btn_invert($CMoradoC,$CMoradoC);
    width: $Sxl;
}






  //***************************//
 //           Movil          //
//*************************//
@media (max-width: 767px) {
}
@media (min-width: 768px) and (max-width: 991px) {
}
@media (min-width: 992px) and (max-width: 1199px) {
}
@media (min-width: 1200px) {
}
