// Color Funte
.color-rosaINE{
    color:$CRosaIne;
}
.color-negro{
    color: $CNegro;
}
.color-blanco{
    color: $CBlanco;
}
.color-morado{
    color: $CMorado;
}

//Color FONDOS
.bg-rosaINE{
    background: $CRosaIne;
}
.bg-negro{
    background: $CNegro;
}
.bg-blanco{
    background: $CBlanco;
}
.bg-morado{
    background: $CMorado;
}

//***************************//
//           Movil          //
//*************************//
@media (max-width: 767px) {
}
@media (min-width: 768px) and (max-width: 991px) {
}
@media (min-width: 992px) and (max-width: 1199px) {
}
@media (min-width: 1200px) {
}
