@font-face {
  font-family: 'Roboto';
}
body{
  margin: 0;
  // margin-bottom: 40px !important;
}


.hipervinculo{
  color: $CRosaIne;
  border-bottom: 1px solid $CRosaIne;
}

.hipervinculo:hover {
  color: $CRosaIne !important;
  text-decoration: none !important;
  border-bottom: 1px solid $CRosaIne !important;
}

select.classic {
    background-image: url("/assets/img/flecha_1.png");
    background-position:
      calc(100% - 10px) calc(1em + -4px),
      calc(100% - 5px) calc(1em + -1px),
      100% 0;
    background-size:
      10px 10px,
      5px 5px,
      2.5em 2.5em;
    background-repeat: no-repeat;

  }

.div-img{margin-top: 2%;}

// select {
//   padding:4px;
//   margin: 0;
//   background: #fff;
//   color:#888;
//   border:1px solid;
//   // outline:none;
//   display: inline-block;
//   -webkit-appearance:none;
//   -moz-appearance:none;
//   appearance:none;
//   cursor:pointer;
//   width: 300px;
//   -webkit-border-radius: 0px;
//   -moz-border-radius: 0px;
//   border-radius: 5px;
// }
// label {position:relative}
// label:after {
//   content:"\f0d7";
//   font-family: "FontAwesome";
//   font-size: 25px;
//   color: #000;
//   right: -208px;
//   top: -49px;
//   padding:0 0 2px;
//   position:absolute;
//   pointer-events:none;
// }
// label:before {
//   content:'';
//   right: -212px;
//   top: -35px;
//   width:23px;
//   height:18px;
//   background:#fff;
//   position:absolute;
//   pointer-events:none;
//   display:block;
// }


// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575px) {
  h1{
    font-size: 1.5rem !important;
  }
  .logo-ine{
    width: 75%;
    margin-top: 5%;
  }
  label:after {
    display:none;
  }
  label:before {
    display:none;
  }
 }

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767px) {
  h1{
    font-size: 2rem !important;
  }
  .logo-ine{
    width: 75%;
    margin-top: 5%;
  }
  label:after {
    display:none;
  }
  label:before {
    display:none;
  }
 }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991px) {
  label:after {
    display:none;
  }
  label:before {
    display:none;
  }
 }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199px) { }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) and (max-width: 1440px) {
  // label:after {
  //   content:"\f0d7";
  //   font-family: "FontAwesome";
  //   font-size: 25px;
  //   color: #000;
  //   right: -130px;
  //   top: -49px;
  //   padding:0 0 2px;
  //   position:absolute;
  //   pointer-events:none;
  // }
 }
