.img-xs{
    width: $Sxs
}
.img-sm{
    width: $Ssm;
}

.img-md{
    width: $Smd;
}

.img-lg{
    width: $Slg
}

.img-xl{
    width: $Sxl
}

//***************************//
//           Movil          //
//*************************//
@media (max-width: 767px) {
}
@media (min-width: 768px) and (max-width: 991px) {
}
@media (min-width: 992px) and (max-width: 1199px) {
}
@media (min-width: 1200px) {
}
