.link-rosaINE{
    @include link($CRosaIne,#67cb18);
}

.link-rosaINE-shade{
    @include linkShade($CRosaIne);
}

.link-rosaINE-underline{
    @include linkUnderline($CRosaIne);
}

//***************************//
//           Movil          //
//*************************//
@media (max-width: 767px) {
}
@media (min-width: 768px) and (max-width: 991px) {
}
@media (min-width: 992px) and (max-width: 1199px) {
}
@media (min-width: 1200px) {
}
