//**************************//
//          Margins         //
//**************************//
.center-objects{
    display: flex;
    justify-content: center;
    align-items: center;
}
.margin-0 {
    margin: 0px;
}
.margin-5 {
    margin: 5px;
}
.margin-10 {
    margin: 10px;
}
.margin-15 {
    margin: 15px;
}
.margin-20 {
    margin: 20px;
}
.margin-25 {
    margin: 25px;
}
.margin-30 {
    margin: 30px;
}
.margin-35 {
    margin: 35px;
}
.margin-40 {
    margin: 40px;
}
.margin-45 {
    margin:45px;
}
.margin-50 {
    margin: 50px;
}
.margin-55 {
    margin: 55px;
}
.margin-60 {
    margin: 60px;
}
.margin-65 {
    margin: 65px;
}
.margin-70 {
    margin: 70px;
}
.margin-75 {
    margin: 75px;
}
.margin-80 {
    margin: 80px;
}
.margin-85 {
    margin: 85px;
}
.margin-90 {
    margin: 90px;
}
.margin-95 {
    margin: 95px;
}
.margin-100 {
    margin: 100px;
}
.margin-105 {
    margin: 105px;
}
.margin-110 {
    margin: 110px;
}
.margin-115 {
    margin: 115px;
}
.margin-120 {
    margin: 120px;
}
.margin-125 {
    margin: 125px;
}
.margin-130 {
    margin: 130px;
}
.margin-135 {
    margin: 135px;
}
.margin-140 {
    margin: 140px;
}
.margin-145 {
    margin:415px;
}
.margin-150 {
    margin: 150px;
}
.margin-155 {
    margin: 155px;
}
.margin-160 {
    margin: 160px;
}
.margin-165 {
    margin: 165px;
}
.margin-170 {
    margin: 170px;
}
.margin-175 {
    margin: 175px;
}
.margin-180 {
    margin: 180px;
}
.margin-185 {
    margin: 185px;
}
.margin-190 {
    margin: 190px;
}
.margin-195 {
    margin: 195px;
}
.margin-200 {
    margin: 200px;
}
//Margins top.margin-t-0
.margin-t-0{
    margin-top: 0px;
}
.margin-t-5 {
    margin-top: 5px;
}
.margin-t-10 {
    margin-top: 10px;
}
.margin-t-15 {
    margin-top: 15px;
}
.margin-t-20 {
    margin-top: 20px;
}
.margin-t-25 {
    margin-top: 25px;
}
.margin-t-30 {
    margin-top: 30px;
}
.margin-t-35 {
    margin-top: 35px;
}
.margin-t-40 {
    margin-top: 40px;
}
.margin-t-45 {
    margin-top: 45px;
}
.margin-t-50 {
    margin-top: 50px;
}
.margin-t-55 {
    margin-top: 55px;
}
.margin-t-60 {
    margin-top: 60px;
}
.margin-t-65 {
    margin-top: 65px;
}
.margin-t-70 {
    margin-top: 70px;
}
.margin-t-75 {
    margin-top: 75px;
}
.margin-t-80 {
    margin-top: 80px;
}
.margin-t-85 {
    margin-top: 85px;
}
.margin-t-90 {
    margin-top: 90px;
}
.margin-t-95 {
    margin-top: 95px;
}
.margin-t-100 {
    margin-top: 100px;
}
.margin-t-105 {
    margin-top: 105px;
}
.margin-t-110 {
    margin-top: 110px;
}
.margin-t-115 {
    margin-top: 115px;
}
.margin-t-120 {
    margin-top: 120px;
}
.margin-t-125 {
    margin-top: 125px;
}
.margin-t-130 {
    margin-top: 130px;
}
.margin-t-135 {
    margin-top: 135px;
}
.margin-t-140 {
    margin-top: 140px;
}
.margin-t-145 {
    margin-top: 145px;
}
.margin-t-150 {
    margin-top: 150px;
}
.margin-t-155 {
    margin-top: 155px;
}
.margin-t-160 {
    margin-top: 160px;
}
.margin-t-165 {
    margin-top: 165px;
}
.margin-t-170 {
    margin-top: 170px;
}
.margin-t-175 {
    margin-top: 175px;
}
.margin-t-180 {
    margin-top: 180px;
}
.margin-t-185 {
    margin-top: 185px;
}
.margin-t-190 {
    margin-top: 190px;
}
.margin-t-195 {
    margin-top: 195px;
}
.margin-t-200 {
    margin-top: 200px;
}

//MArgin left
.margin-l-0 {
    margin-left: 0px;
}
.margin-l-5 {
    margin-left: 5px;
}
.margin-l-10 {
    margin-left: 10px;
}
.margin-l-15 {
    margin-left: 15px;
}
.margin-l-20 {
    margin-left: 20px;
}
.margin-l-25 {
    margin-left: 25px;
}
.margin-l-30 {
    margin-left: 30px;
}
.margin-l-35 {
    margin-left: 35px;
}
.margin-l-40 {
    margin-left: 40px;
}
.margin-l-45 {
    margin-left: 45px;
}
.margin-l-50 {
    margin-left: 50px;
}
.margin-l-55 {
    margin-left: 55px;
}
.margin-l-60 {
    margin-left: 60px;
}
.margin-l-65 {
    margin-left: 65px;
}
.margin-l-70 {
    margin-left: 70px;
}
.margin-l-75 {
    margin-left: 75px;
}
.margin-l-80 {
    margin-left: 80px;
}
.margin-l-85 {
    margin-left: 85px;
}
.margin-l-90 {
    margin-left: 90px;
}
.margin-l-95 {
    margin-left: 95px;
}
.margin-l-100 {
    margin-left: 100px;
}
.margin-l-105 {
    margin-left: 105px;
}
.margin-l-110 {
    margin-left: 110px;
}
.margin-l-115 {
    margin-left: 115px;
}
.margin-l-120 {
    margin-left: 120px;
}
.margin-l-125 {
    margin-left: 125px;
}
.margin-l-130 {
    margin-left: 130px;
}
.margin-l-135 {
    margin-left: 135px;
}
.margin-l-140 {
    margin-left: 140px;
}
.margin-l-145 {
    margin-left: 145px;
}
.margin-l-150 {
    margin-left: 150px;
}
.margin-l-155 {
    margin-left: 155px;
}
.margin-l-160 {
    margin-left: 160px;
}
.margin-l-165 {
    margin-left: 165px;
}
.margin-l-170 {
    margin-left: 170px;
}
.margin-l-175 {
    margin-left: 175px;
}
.margin-l-180 {
    margin-left: 180px;
}
.margin-l-185 {
    margin-left: 185px;
}
.margin-l-190 {
    margin-left: 190px;
}
.margin-l-195 {
    margin-left: 195px;
}
.margin-l-200 {
    margin-left: 200px;
}

//Margins Bottom
.margin-b-0 {
    margin-bottom: 0px;
}
.margin-b-5 {
    margin-bottom: 5px;
}
.margin-b-10 {
    margin-bottom: 10px;
}
.margin-b-15 {
    margin-bottom: 15px;
}
.margin-b-20 {
    margin-bottom: 20px;
}
.margin-b-25 {
    margin-bottom: 25px;
}
.margin-b-30 {
    margin-bottom: 30px;
}
.margin-b-35 {
    margin-bottom: 35px;
}
.margin-b-40 {
    margin-bottom: 40px;
}
.margin-b-45 {
    margin-bottom: 45px;
}
.margin-b-50 {
    margin-bottom: 50px;
}
.margin-b-55 {
    margin-bottom: 55px;
}
.margin-b-60 {
    margin-bottom: 60px;
}
.margin-b-65 {
    margin-bottom: 65px;
}
.margin-b-70 {
    margin-bottom: 70px;
}
.margin-b-75 {
    margin-bottom: 75px;
}
.margin-b-80 {
    margin-bottom: 80px;
}
.margin-b-85 {
    margin-bottom: 85px;
}
.margin-b-90 {
    margin-bottom: 90px;
}
.margin-b-95 {
    margin-bottom: 95px;
}
.margin-b-100 {
    margin-bottom: 100px;
}
.margin-b-105 {
    margin-bottom: 105px;
}
.margin-b-110 {
    margin-bottom: 110px;
}
.margin-b-115 {
    margin-bottom: 115px;
}
.margin-b-120 {
    margin-bottom: 120px;
}
.margin-b-125 {
    margin-bottom: 125px;
}
.margin-b-130 {
    margin-bottom: 130px;
}
.margin-b-135 {
    margin-bottom: 135px;
}
.margin-b-140 {
    margin-bottom: 140px;
}
.margin-b-145 {
    margin-bottom: 145px;
}
.margin-b-150 {
    margin-bottom: 150px;
}
.margin-b-155 {
    margin-bottom: 155px;
}
.margin-b-160 {
    margin-bottom: 160px;
}
.margin-b-165 {
    margin-bottom: 165px;
}
.margin-b-170 {
    margin-bottom: 170px;
}
.margin-b-175 {
    margin-bottom: 175px;
}
.margin-b-180 {
    margin-bottom: 180px;
}
.margin-b-185 {
    margin-bottom: 185px;
}
.margin-b-190 {
    margin-bottom: 190px;
}
.margin-b-195 {
    margin-bottom: 195px;
}
.margin-b-200 {
    margin-bottom: 200px;
}
//Margin Right
.margin-r-0 {
    margin-right: 0px;
}
.margin-r-5 {
    margin-right: 5px ;
}
.margin-r-10 {
    margin-right: 10px;
}
.margin-r-15 {
    margin-right: 15px;
}
.margin-r-20 {
    margin-right: 20px;
}
.margin-r-25 {
    margin-right: 25px;
}
.margin-r-30 {
    margin-right: 30px;
}
.margin-r-35 {
    margin-right: 35px;
}
.margin-r-40 {
    margin-right: 40px;
}
.margin-r-45 {
    margin-right: 45px ;
}
.margin-r-50 {
    margin-right: 50px;
}
.margin-r-55 {
    margin-right: 55px ;
}
.margin-r-60 {
    margin-right: 60px;
}
.margin-r-65 {
    margin-right: 65px ;
}
.margin-r-70 {
    margin-right: 70px;
}
.margin-r-75 {
    margin-right: 75px ;
}
.margin-r-80 {
    margin-right: 80px;
}
.margin-r-85 {
    margin-right: 85px ;
}
.margin-r-90 {
    margin-right: 90px;
}
.margin-r-95 {
    margin-right: 95px ;
}
.margin-r-100 {
    margin-right: 100px;
}
.margin-r-105 {
    margin-right: 105px ;
}
.margin-r-110 {
    margin-right: 110px;
}
.margin-r-115 {
    margin-right: 115px;
}
.margin-r-120 {
    margin-right: 120px;
}
.margin-r-125 {
    margin-right: 125px;
}
.margin-r-130 {
    margin-right: 130px;
}
.margin-r-135 {
    margin-right: 135px;
}
.margin-r-140 {
    margin-right: 140px;
}
.margin-r-145 {
    margin-right: 145px ;
}
.margin-r-150 {
    margin-right: 150px;
}
.margin-r-155 {
    margin-right: 155px ;
}
.margin-r-160 {
    margin-right: 160px;
}
.margin-r-165 {
    margin-right: 165px ;
}
.margin-r-170 {
    margin-right: 170px;
}
.margin-r-175 {
    margin-right: 175px ;
}
.margin-r-180 {
    margin-right: 180px;
}
.margin-r-185 {
    margin-right: 185px ;
}
.margin-r-190 {
    margin-right: 190px;
}
.margin-r-195 {
    margin-right: 195px ;
}
.margin-r-200 {
    margin-right: 200px;
}
//***************************//
//           Movil          //
//*************************//
@media (max-width: 767px) {
}
@media (min-width: 768px) and (max-width: 991px) {
}
@media (min-width: 992px) and (max-width: 1199px) {
}
@media (min-width: 1200px) {
}
