//Variables Colores
$CBlanco : #ffffff;
$CNegro  : #000000;
$CRosaIne: #d5007f;
$CRosaC: #edd2f1;
$CAzul: #007bff;
$CMorado: #622c5a;
$CMoradoC: #766db0;
$CMorado2: #863bb5;
$CAzul-UTC-5: #4b9ed1;
$CGrisBorde:  #f0f0ef;
$CGrisBorde2: #c7c7c7;
$CGrisOscuro: #333333;
$CGrisOscuro2: #666666;
$CLila: #816cb4;
$CGrisClarito: #f2f2f2;
$CGrisMedio: #7e8084;


//Variables Fuentes
$FRoboto: Roboto;

//Tamaños
$Sxs : 20%;
$Ssm : 40%;
$Smd : 60%;
$Slg : 80%;
$Sxl : 100%;
$Sauto : auto;

//Tamaños pixeles
$px0 : 0px;
$px1 : 1px;
$px2 : 2px;
$px3 : 3px;
$px4 : 4px;
$px5 : 5px;
$px10 : 10px;
$px15 : 15px;
$px16 : 16px;
$px17 : 17px;
$px18 : 18px;
$px20 : 20px;
$px25 : 25px;
$px30 : 30px;
$px50 : 50px;
$px60 : 60px;
$px100 : 100px;

//Tamaños porcentajes
$porcentaje1: 1%;
$porcentaje2: 2%;
$porcentaje3: 3%;
$porcentaje4: 4%;
$porcentaje5: 5%;
$porcentaje10: 10%;
$porcentaje15: 15%;
$porcentaje20: 20%;
$porcentaje25: 25%;
$porcentaje35: 35%;
$porcentaje45: 45%;
$porcentaje50: 50%;
$porcentaje70: 70%;
$porcentaje100: 100%;

//Tamaño Fuentes
$FS12 : 12px;
$FS13 : 13px;
$FS14 : 14px;
$FS16 : 16px;
$FS18 : 18px;
$FS20 : 20px;
$FS22 : 22px;
$FS24 : 24px;
$FS26 : 26px;
$FS28 : 28px;
$FS30 : 30px;
$FS32 : 32px;
$FS34 : 34px;
$FS36 : 36px;
$FS38 : 38px;
$FS40 : 40px;
$FS42 : 42px;
$FS44 : 44px;
$FS46 : 46px;
$FS48 : 48px;
$FS50 : 50px;
$FS52 : 52px;
$FS54 : 54px;
$FS56 : 56px;
$FS58 : 58px;

//Tipos de Fuentes
$Negritas: bold;
$Subrayado: underline;

//Posiciones
$right: right;

//Font Weight
$FW300: 300;
$FW500: 500;
$FW700: 700;
$FW900: 900;

//Opacidad
$opac01: 0.1;
$opac02: 0.2;
$opac03: 0.3;
$opac04: 0.4;
$opac05: 0.5;
$opac06: 0.6;
$opac07: 0.7;
$opac08: 0.8;
$opac09: 0.9;
$opac10: 1.0;

//Posiciones
$PosRight: right;
$PosLeft: left;
$PosCenter: center;
$PosMiddle: middle;
