//FIGURAS
@mixin circulo($Fondo:$CBlanco) {
    background :$Fondo;
    border: 10px solid #ee0d0d;
    width: 100px;
    height: 100px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
//BOTONES
@mixin btn($Fondo:#6c757d,$ColorFuente:$CBlanco,$FondoH:#5a6268,$ColorFuenteH:$CBlanco){
    background: $Fondo;
    border-color: $Fondo;
    color: $ColorFuente;
    &:hover {
        background: $FondoH;
        color: $ColorFuenteH;
    }
}

@mixin btn_invert($Color:#6c757d,$FondoH:#5a6268,$ColorFuenteH:$CBlanco){
    background: $CBlanco;
    border-color: $Color;
    color: $Color;
    &:hover{
        background: $FondoH;
        border-color: $FondoH;
        color: $ColorFuenteH
    }
}


// LINKS
@mixin link($ColorFuente:$CAzul,$ColorFuenteH:#0056b3){
    color: $ColorFuente;
    &:hover{
        color: $ColorFuenteH;
        text-decoration: none;
    }
}
@mixin linkShade($ColorFuente:$CAzul,$ColorFuenteH:#0056b3){
    color: $ColorFuente;
    &:hover{
        color: $ColorFuenteH;
        text-decoration: underline;
    }
}
@mixin linkUnderline($ColorFuente:$CAzul,$ColorFuenteH:#0056b3){
    color: $ColorFuente;
    text-decoration: underline;
    &:hover{
        color: $ColorFuenteH;
        text-decoration: underline;
    }
}


.circulo-rosaINE{
    @include circulo($CRosaIne);
    border: 5px solid #330dee;
}
