<header>
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <div class="row">
          <div class="col-9 col-sm-9 col-md-9 col-lg-9 col-xl-9 padding-b-25">
            <h1>Ayuda | Resultados Electorales</h1>
          </div>
          <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
            <img src="./assets/img/logo_ine.svg"
            class="logo-ine"
            (click)="goINE()" style="cursor: pointer;">
          </div>
        </div>
      </div>

      <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
          <!-- <button class="navbar-toggler navbar-expand-lg" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button> -->
          <div class="navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <a [routerLink]="['index/Prep']" routerLinkActive="active">PREP</a>
              </li>
              <li class="nav-item">
                <a [routerLink]="['index/Computos']" routerLinkActive="active">Cómputos</a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </div>
  </div>
</header>
