@import "./src/sass/variables";

header{background-color: $CNegro; color: $CBlanco; padding-right: 2%; padding-left: 2%; padding-top: 1%;}

.navbar-dark, .bg-dark{background-color: $CNegro!important;}

.logo-ine{float: right;}

ul{width: 100%;}

li{width: 7.5%;}

li a{color: $CBlanco; font-size: 22px; padding: 3px 30px 9px 30px;}

li a:hover{text-decoration: none;}

li:before {content: none;}

.active{background-color: $CRosaIne; padding: 9px;}
img{
  width: 35%;
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575px) {
  li{
    width: 25%;
  }
  li a{
    font-size: 20px;
    padding: 0px 30px 10px 30px;
  }
  .navbar{padding: 0.5rem 0rem;}
  .navbar-dark .navbar-toggler {
    margin-bottom: 13px;
  }
  .navbar-nav {
    flex-direction: initial;
  }

  .logo-ine{float: right; width: 90px; padding-top: 5%;}
 }

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767px) {
  li{
    width: 25%;
  }
  li a{
    font-size: 20px;
    padding: 0px 30px 10px 30px;
  }
  .navbar-dark .navbar-toggler {
    margin-bottom: 13px;
  }
  .navbar-nav {
    flex-direction: initial;
  }

}

@media (max-width: 360px) {
  li{
    width: 50%;
  }
  li a{
    font-size: 20px;
    padding: 0px 25% 10px 25%;
  }
  .navbar{padding: 0.5rem 0rem;}
  .navbar-nav {
    flex-direction: initial;
  }

}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991px) {
  li{
    width: 12%;
  }
  li a{
    font-size: 20px;
    padding: 0px 30px 10px 30px;
  }
  .navbar-nav {
    flex-direction: initial;
  }
  .logo-ine{float: right; width: 100%; margin-top: 10px;}

}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199px) {
  li{
    width: 10%;
  }

  .logo-ine{float: right; width: 50%; margin-top: 10px;}
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) and (max-width: 1440px){
  li{
    width: 10%;
  }
}
