<div class="container-fluid" style="z-index: 100;">
  <div class="row justify-content-center">
    <div class="col-lg-6 text-center">
      <h3 class="padding-t-35 padding-b-35">PREP | Programa de Resultados Electorales Preliminares</h3>

      <div class="row">
        <div class="offset-3 col-6">
          <div class="text-left">
          
          </div>

          <select class="form-control"
          [(ngModel)]="opcionSeleccionado"
          (change)="capturar(opcionSeleccionado)">
          <option value="" disabled hidden>Selecciona el año</option>
          <option [value]="i" *ngFor="let item of infoPrep; let i = index" >
            <label>
              {{item.id}}
            </label>
          </option>
        </select>
        <label></label>
        </div>
    </div>
    <div class="row">
      <div class="col-12 div-img">
        <a target="_blank" href="{{verInfo.url || url_default}}"><img class="padding-t-25 padding-b-25" src="{{verInfo.img || img_default}}"></a>
      </div>

      <div class="col-12 padding-t-15 padding-b-15">
        <h5 style="z-index: 100;"><a target="_blank" class="hipervinculo font-weight-light" href="{{verInfo.url || url_default}}">{{verInfo.nombreUrl || nombre_url_default}}</a></h5>
      </div>

      <div class="col-12">
        <h5 class="font-weight-light">{{verInfo.nombre || nombre_default}}</h5>
      </div>


    </div>

    </div>
  </div>
</div>
