@import "./src/sass/variables";

.footer-black{
  color: $CBlanco;
  bottom: 0;
  width: 100%;
  color: white;
  position: absolute;
}

.fondo-negro{
   background-color: $CNegro;
   padding-top: 1%;
   padding-bottom: 1%;
}



@media (max-width: 767px) {
  .footer-black{
    position: inherit;
    margin-top: 5%;
  }
  .fondo-negro{padding-top: 4%;}
  .logo-ine-footer{width: 100%!important;}
 }

@media (max-height: 900px) {
  .footer-black{
    position: inherit;
    margin-top: 5%;
  }
 }
