<footer class="footer-black">
  <div class="container-fluid">

    <!-- <div class="row">


      <div class="col-12 "> -->
        <div class="row">

          <div class="col-12 footer-img" style="background-color: #fff;">
            <img class="img-personajes" src="./assets/img/personajes.svg" >
          </div>



          <div class="col-4 col-sm-4 col-md-4 col-lg-2 col-xl-2 fondo-negro">
            <img src="./assets/img/logo_ine.svg" class="logo-ine-footer w-50">
          </div>
          <div class="col-8 col-sm-8 col-md-8 col-lg-8 col-xl-8 text-center fondo-negro">
            <p>2019 Instituto Nacional Electoral | Todos los derechos reservados</p>
          </div>

          <div class="col-lg-2 col-xl-2 fondo-negro">

          </div>
        </div>
      </div>
    <!-- </div>
  </div> -->

</footer>
